.header-logo-custom {
  width: 3.5rem;
  height: 3.5rem;
}
.header-navbar {
  padding-bottom: 4rem;
}
.not-found-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45rem;
  height: 35rem;
  opacity: 0.6;
}
.main-image-custom {
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgba(71, 59, 19, 0.521);
}
